# Copy thanh .env o server/ va client/
MONGO_URI=mongodb://localhost:27017/hoc_parfum
JWT_ACCESS_SECRET=doi_secret_nay
JWT_REFRESH_SECRET=doi_secret_nay_2
PORT=5000
CLIENT_URL=http://localhost:5173

# VietQR + SePay webhook
VIETQR_BANK_BIN=
VIETQR_ACCOUNT_NO=
VIETQR_ACCOUNT_NAME=
SEPAY_WEBHOOK_SECRET=
